.chat-main
  .chat-main__group
    .chat-main__group__info
      .chat-main__group__info__name
        =@group.name

      %ul.chat-main__group__info__members
        Member：
        %li.member
          - @group.users.each do |user|
            = user.name


    .chat-main__group__edit
      = link_to edit_group_path(@group.id),class:"edit-btn" do
        Edit

  .messages
    = render @messages
      
           
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'